/*Stylesheet for google-homepage.html*/

*{margin:0px;
  padding:0px;}


/*Navigation style*/  
nav{display: flex;
    font-size: 13px;
    padding-top:7px;
    padding-right:15px;
    width:100%;
    justify-content:space-between;
    align-content: center;
    }

.navLeft{justify-content: flex-start;
        }

.navRight{padding-right:15px;}


ul{list-style:none; 
   align-items:center; 
   display:flex;
  }

li{display:inline-block;
   padding-left:15px;
   }


#navGridImage {width: 25px;}

/*Sign in button*/
button{background-color:rgb(67, 133, 247);
      border-color:rgb(67, 133, 247);
      font-weight:bold;
      font-size:16px;
      width:65px;
      height:25px;
      }


/*link styling*/
 a {text-decoration:none;
    color:black;}

 a:visited{color:black;}

 a.buttonLink{color:white;}
/*Main div*/

.container{position: absolute;
           top: 30%;
           width:100%;
           text-align:center;}

.search{width:530px;
        height:30px;
        padding-top: 7px;
        display:block;
        border:none;
        font-size:16px;}
                      
input[type="text"]{text-align:left;
                  margin-left:auto;
                  margin-right:auto;
                   }

.searchContainer{border-radius:22px;
                  display:flex;
                  margin-right:auto;
                  margin-left:auto;
                  width: 580px;
                  height:44px;
                  border: 1px solid #dfe1e5;}

#eyeglass{height:25px;
          padding-top:10px;
          padding-left:7px;
          padding-right:5px;}

input[type="submit"]{height:36px;}

footer{position:absolute;
                width:100%;
                bottom:0;
              }
.footerContainer{display:flex;
               justify-content: space-between;
               width:100%;
               padding-top:15px;
               padding-bottom:15px;
              background-color:#f2f2f2;
              font-size:13px;}
