/*Stylesheet for google-homepage.html*/




/*Navigation style*/  
nav{padding:0px;
    margin:0px;
    display:block;
    font-size: 13px;
    -moz-appearance: none;
    }

.navLeft{float:left;}
.navRight{float: right;}


ul{list-style:none;
  display:inline-block;
  margin:0px;
  padding:0px;
  padding-top: 15px}

li{display:inline-block;
   padding:0px;
   margin:0px;
   padding-left:15px;}

#navGridImage {padding: 0px;
               margin:0px;
               width: 25px;
               height: 25px;}

/*Sign in button*/
button{background-color:rgb(67, 133, 247);
      border-color:rgb(67, 133, 247);
      font-weight:bold;
      font-size:16px;}


/*link styling*/
 a {text-decoration:none;
    color:black;}

 a:visited{color:black;}

 a.buttonLink{color:white;}
/*Main div*/

.container{position: absolute;
           top: 30%;
           width:100%;
           text-align:center;}

.search{margin-bottom:30px;
            }
                        
input[type="text"]{text-align:left;
                   width: 500px;
                   height:35px;
                   border-radius:25px;
                   background:transparent;
                   box-shadow: none;
                   background: url("https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-128.png") no-repeat left;
                   background-size:25px 25px;
                   }



input[type="submit"]{height:36px;}


